*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(36, 35, 35)
}
.navigation{
    background-color: rgb(222, 219, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navigation img{
    background-color: rgb(50, 50, 49);
    height: 100px;
    border: 2px solid rgb(85, 181, 216);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px;
   

}
.linkler{
    display: flex;
    gap: 10px;
}
.linkler a{
    color: rgb(120, 119, 119);
    text-decoration: none;
    margin-right: 10px;

    /* ------------------------------------- */
}
.kart{
    border: 3px solid rgb(206, 45, 45);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(181, 169, 169);
    border-radius: 10px;
    gap: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.book-pic{
    width: 100px;
    height: 150px;
    margin: 10px 30px;
    margin-bottom: 30px;
}
.katalog{
    display: flex;
    /* background-color: rgb(75, 129, 228); */
    padding: 20px;
    gap: 20px;


    /* ------------------------------------- */

    
}
.kart2{
    background-color: rgb(147, 181, 210);
    border: 3px solid rgb(59, 137, 215);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    
    
}
.pics{
    border: rgba(45, 104, 231, 0.814) 2px dotted;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    padding: 5px;
    margin : 5px 20px;
    
}
.katalog2{
    display: flex;
    margin-top: 20px;
    /* background-color: rgb(97, 51, 158); */
    padding: 10px;
    gap: 20px;
    justify-content: center;
    
}
.bbt{
    background-color: hsl(157, 49%, 34%);
    color: aliceblue;
    width:50px;
    padding: 5px;
    margin: 0 50px 10px;
    border-radius: 8px;
    font-size: 15px;
    font-family:initial
    

/* ---------------------------------- */
}
.pic2{
    width: 100px;
    height: 150px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px 20px 10px;
    /* border: 2px dashed gray; */
    border-radius: 5px;
    
}
.katalog3{
    margin-top: 20px;
    display: flex;
    /* background-color: rgb(59, 156, 120); */
    padding: 20px;
    gap: 20px;
    justify-content:space-evenly;
    
    
}
.kart3{
    border: 3px solid rgb(42, 161, 101);
    background-color: rgb(150, 176, 153);
    border-radius: 10px;
    padding: 10px;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.but{
    background-color: rgb(43, 43, 43);
    color: antiquewhite;
    padding: 5px;
    margin: 0px 30px;
    border-radius: 5px;
    
    
    
}



